.pagination {
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #26bec9;
    border-color: #26bec9;
    &:focus {
      box-shadow: none !important;
    }
  }
  .page-link {
    color: #ccc;
    &:hover {
      color: #ccc;
    }
  }
}

.page-item {
  outline: none;
}