.emailAuth {
  .m-border-left {
    border: none;
    @media (min-width: 768px) {
      border-left: 1px solid #dee2e6 !important;
    }
    .btn {
      transition: transform .1s linear, box-shadow .1s linear;
      &:hover {
        border: none;
        background: #3da355;
        box-shadow: 0 0.2em 0.2em -0.1em #3eaa57, 0 0.3em #0f6824, 0 0.5em 0.5em -0.1em rgba(0, 0, 0, 0.12);
        transform: translateY(-6px);
        transition: transform .1s linear, box-shadow .1s linear;
      }
    }
  }
}