$classname: 'lightBox';
.#{$classname} {
    a {
        color: black;
        text-decoration: none;
    }
    @-webkit-keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }
    @-webkit-keyframes bounceIn {
        from,
        20%,
        40%,
        60%,
        80%,
        to {
            -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
        }
        to {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    .overlay {
        display: flex;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        &:target,
        &.is-active {
            visibility: visible;
            .content {
                color: white;
                animation: 0.4s ease-out 0.2s both;
                &.fadeInLeft {
                    animation-name: fadeInLeft;
                }
                &.bounceIn {
                    animation-name: bounceIn;
                }
            }
        }
    }
    .content {
        max-height: 100%;
        overflow: auto;
        position: relative;
    }
    img {
        max-width: 100%;
        display: block;
        height: auto;
        width: auto;
    }
    .close {
        position: absolute;
        &:visited {
            // color: #fff;
        }
        top: 1em;
        right: 1em;
    }
}